$col-primary-A: #151515;
$col-primary-B: #575757;
$col-primary-C: #a9a9a9;
$col-primary-D: #d1d1d1;
$col-primary-E: #ebebeb;
$col-primary-F: #f5f5f5;
$col-primary-G: #f9f9f9;
$col-primary-H: #ffffff;

$col-secondary-A: #6a983c;
$col-secondary-B: #46760a;
$col-secondary-C: #92c064;
$col-secondary-D: #c8deb3;
$col-secondary-E: #f4f8ec;

$col-adittionalPrimary-A: #d0a866;
$col-adittionalPrimary-A: #b28a48;
$col-adittionalPrimary-C: #ecd2a6;
$col-adittionalPrimary-D: #faedd8;
$col-adittionalPrimary-E: #fff9f0;

$col-adittionalSecondary-A: #e5704b;
$col-adittionalSecondary-A: #c7522d;
$col-adittionalSecondary-C: #eb8d70;
$col-adittionalSecondary-D: #f7c6b7;
$col-adittionalSecondary-E: #fff1ed;

$col-adittionalTetriary-A: #37d0d6;
$col-adittionalTetriary-A: #19b2b8;
$col-adittionalTetriary-C: #7cd0d3;
$col-adittionalTetriary-D: #b9e6e8;
$col-adittionalTetriary-E: #ecf6f6;
